---
import Wifi from "./Wifi";
import Spotify from "./Spotify";
import Date from "./Date";
import Time from "./Time";
import Workspace from "./Workspace.astro";

export interface Props {
  active: number;
}

const { active } = Astro.props as Props;
---

<div class="flex items-center justify-center m-auto w-screen">
  <div
    class="text-sm h-[35px] inline-flex rounded-2xl items-center justify-between bg-mantle"
  >
    <div
      class="flex items-center px-6 gap-2 rounded-l-2xl text-purple bg-base h-full"
    >
      <Workspace active={active} />
    </div>
    <div class="flex gap-4">
      <Wifi client:load />
      <Spotify client:load />
      <Date client:load />
      <Time client:load />
    </div>
  </div>
</div>
