---
import Terminal from "./Terminal";
---

<div class="wrapper flex items-center justify-center h-full w-full">
  <div
    class="term text-sm h-full w-full bg-[#1E1E2E88] rounded-2xl backdrop-blur-md"
  >
    <Terminal client:load />
  </div>
</div>
