---
import clsx from "clsx";

export interface Props {
  active: number;
}

const { active } = Astro.props as Props;
---

<a
  onclick="active = 1"
  class={clsx(
    "py-[5px] px-[12px] cursor-pointer",
    active === 1 ? "bg-mauve text-crust rounded-2xl" : ""
  )}
  >一
</a>
<a
  onclick="active = 2"
  class={clsx(
    "py-[5px] px-[12px] cursor-pointer",
    active === 2 ? "bg-mauve text-crust rounded-2xl" : ""
  )}>二</a
>
<a
  onclick="active"
  class={clsx(
    "py-[5px] px-[12px] cursor-pointer",
    active === 3 ? "bg-mauve text-crust rounded-2xl" : ""
  )}>三</a
>
