@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrainsMono Nerd Font";
  src: url("/src/assets/jetbrains.ttf");
}

@font-face {
  font-family: "Hack Nerd Font";
  src: url("/src/assets/hack.ttf");
}

html,
body,
#root {
  height: 100%;
}
